
/*Corrections as per the comments received*/
.gradient-text-1-ghamejed {
  color: #343c55;
}

.slider-2-1 { width: 569px; }
.slider-2-2 { width: 460px; }
.slider-2-3 { width: 354px; }
.slider-2-4 { width: 172px; }
.slider-2-5 { width: 124px; }

    .video-responsive {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        height: 0;
    }
    .video-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
  /* Set the video background to white */
  .vjs-tech {
    background-color: white !important;
  }
.video-responsive-video {
  display: block;
  margin: 0 auto; /* Center the video horizontally */
  position: relative;
    height: 715px;
    width: 1271px;
  max-width: 100%; /* Prevent the video from exceeding the container width */
}

@media only (min-width: 992px) and (max-width: 1199px) {
  .video-responsive-video {
    height: 715px;
    width: 1271px;
  }
}
@media only (max-width: 767px) {
  .video-responsive-video {
    height: 620px;
    width: 1102px;
  }
}
@media only (max-width: 575px) {
  .video-responsive-video {
    height: 520px;
    width: 924px;
  }
}
@media only (max-width: 479px) {
  .video-responsive-video {
    height: 340px;
  }
}
.noto-kufi-arabic-one {
  font-family: "Noto Kufi Arabic", sans-serif;
  color: green;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: .7em;
}

.bolder-years {
	font-size: 1.6em;
	color: black;
}

.tajawal-extralight {
  font-family: "Tajawal", system-ui;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", system-ui;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", system-ui;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", system-ui;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", system-ui;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", system-ui;
  font-weight: 900;
  font-style: normal;
}