
/*Corrections as per the comments received*/
.gradient-text-1-ghamejed {
  color: #343c55;
}

.slider-2-1 { width: 569px; }
.slider-2-2 { width: 460px; }
.slider-2-3 { width: 354px; }
.slider-2-4 { width: 172px; }
.slider-2-5 { width: 124px; }

.video-responsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: white; /* White background */
  overflow: hidden;
}
    .video-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
  /* Set the video background to white */
  .vjs-tech {
    background-color: white !important;
  }
/* Making sure the video fills the parent container */
.video-responsive-video {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  max-width: 100%; /* Prevents the video from exceeding the container */
  background-color: white; /* White background for visibility */
  aspect-ratio: 16 / 9; /* Ensures the aspect ratio of 16:9 */
}
/* Media queries for additional adjustments, if necessary */
@media (max-width: 767px) {
  .video-responsive {
    padding-top: 75%; /* Aspect ratio: 4:3 for smaller screens */
  }
}

@media (max-width: 575px) {
  .video-responsive {
    padding-top: 100%; /* Aspect ratio: 1:1 for very small screens */
  }
}


.noto-kufi-arabic-one {
  font-family: "Noto Kufi Arabic", sans-serif;
  color: green;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: .7em;
}

.bolder-years {
	font-size: 1.6em;
	color: black;
}

.tajawal-extralight {
  font-family: "Tajawal", system-ui;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", system-ui;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", system-ui;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", system-ui;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", system-ui;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", system-ui;
  font-weight: 900;
  font-style: normal;
}