---
title: Home Page
layout: bayan
---

<!-- Page Title Section Start -->
<div class="section-padding team-bg gradient-1 section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-12 wow align-items-center text-center section-padding-top ">
                <!-- Heading Start -->
                <div class=" section-padding heading-one">
                    <!-- <span class="heading-one-subtitle">Design matters</span> -->
                    <h2 class="heading-one-title"> تميز اراضي شركة بيان </h2>
                </div>
                <!-- Heading End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Title Section End -->
{% include home/plots.html %}
{% include home/statement.html %}

{% include home/plots_description.html %}


