
<!-- About Creative Section Start -->
<div class="section-padding about-creative" id="board">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-xs-2 row-cols-1 mb-n30">
            <div class="col-lg-3 mb-30  wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <!-- About single-team Start -->


                <div class="single-team">
                    <div class="single-team-image">
                        <img src="{{ site.s3bucket }}board/rashid.jpg" alt="TeamImage">
                    </div>
                    <div class="single-team-content">
                        <a href="contact.html"><span class="name">راشد سعد الراشد</span></a>
                        <span class="desig">رئيس مجلس الادارة</span>
                        <ul class="single-team-social">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- About single-team End -->
            </div>
            <div class="col-lg-9 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="about-creative-details" style="direction: rtl;">
                    <!-- Heading Start -->
                    <div class="heading-one">
                        <!-- <span class="heading-one-subtitle">Design matters</span> -->
                        <h2 class="heading-one-title">كلمة رئيس مجلس الإدارة </h2>
                        <p>منذ اكتمال تأسيس شركة بيان العقارية من قبل مؤسسين ذوي رؤية وحكمة وخبرات متراكمة لتحقيق هدف واحد يتلخص في تأمين وحدات سكنية من خلال ابتكار تصميمات جديدة تلبي تطلعات واحتياجات الشرائح المختلفة من العملاء، نلتزم التزاما راسخا بانتهاج أفضل أساليب العمل والتعاون مع أفضل الشركاء الخليجيين والإقليميين والعالميين واستقطاب مدراء أكفاء لديهم قدرات مميزة اكتسبوها من خلال أعوام طويلة من العمل المثابر لتحقيق رؤيتنا واهدافنا المنشودة. أننا نصبو إلى الارتقاء بمستوى حياة المجتمع الذي نحن جزء منه ونحن ملتزمون بتقديم افضل الحلول السكنية التي تتوافق وتنسجم مع متطلبات مجتمعنا السعودي وجعل عملائنا في المقدمة.</p>

                        <p>نحن في بيان العقارية نؤمن بأن إرضاء عملائنا هدف يمكن تحقيقه من خلال التواصل معهم والوقوف على احتياجاتهم وان الشراكة الحقيقية هي المبنية على الوضوح والثقة وتحقيق مصالح جميع الأطراف من خلال معادلة الجميع يربح.</p>
                    </div>
                    <!-- Heading End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Creative Section End -->

