
<!-- Team Section Start -->
<div class="section-padding team-bg gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <!-- Heading Start -->
                <div class="heading-one">
                    <!-- <span class="heading-one-subtitle">Design matters</span> -->
                    <h2 class="heading-one-title">اعضا مجلس الادارة </h2>
                </div>
                <!-- Heading End -->
            </div>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-xs-2 row-cols-1 mb-n30">
            <div class="col mb-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <div class="single-team">
                    <div class="single-team-image">
                        <img src="{{ site.s3bucket }}board/adwan.png" alt="TeamImage">
                    </div>
                    <div class="single-team-content">
                        <a href="contact.html"><span class="name">عدوان العدواني</span></a>
                        <!-- <span class="desig">Founder & CEO</span> -->
<!--                         <ul class="single-team-social">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col mb-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="single-team">
                    <div class="single-team-image">
                        <img src="{{ site.s3bucket }}board/abdullah.jpg" alt="TeamImage">
                    </div>
                    <div class="single-team-content">
                        <a href="contact.html"><span class="name">عبدالفتاح معرفي</span></a>
                        <!-- <span class="desig">Head of Ideas</span> -->
<!--                         <ul class="single-team-social">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li> 
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col mb-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".5s">
                <div class="single-team">
                    <div class="single-team-image">
                        <img src="{{ site.s3bucket }}board/mohammed.jpg" alt="TeamImage">
                    </div>
                    <div class="single-team-content">
                        <a href="contact.html"><span class="name">محمد بن دعيج آل خليفة</span></a>
                        <!-- <span class="desig">Team Leader</span> -->
<!--                         <ul class="single-team-social">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li> 
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col mb-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".7s">
                <div class="single-team">
                    <div class="single-team-image">
                        <img src="{{ site.s3bucket }}board/waleed.jpg" alt="TeamImage">
                    </div>
                    <div class="single-team-content">
                        <a href="contact.html"><span class="name">وليد محمد</span></a>
                        <!-- <span class="desig">Designer</span> -->
<!--                        <ul class="single-team-social">
                             <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li> 
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->


