<header class="header-wrapper-two header-four sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-top">
                    <div class="d-md-none d-flex align-items-center">
                        <a class="header-top-link d-flex align-items-center gap-1 left-link" href="tel:+4733378901"><img src="{{ site.s3bucket }}icon/social/social-icon-1.png" alt=""></a>
                        <a class="header-top-link d-flex align-items-center gap-1" href="info@bayanksa.com"><img src="{{ site.s3bucket }}icon/social/social-icon-2.png" alt=""></a>
                    </div>
                    <span class="d-none d-md-block">
                        <a class="header-top-link d-flex align-items-center gap-1" href="tel:+4733378901"><img src="{{ site.s3bucket }}icon/social/social-icon-1.png" alt=""> 0536-2-77222</a>
                    </span>
                    <span class="d-none d-md-block">
                        <a class="header-top-link d-flex align-items-center gap-1" href="tel:+4733378901"><img src="{{ site.s3bucket }}icon/social/social-icon-1.png" alt=""> 0536-4-77222</a>
                    </span>
                    <span class="d-none d-md-block">
                        <a class="header-top-link d-flex align-items-center gap-1" href="mailto:info@bayanksa.com"><img src="{{ site.s3bucket }}icon/social/social-icon-2.png" alt=""> info@bayanksa.com</a>
                    </span>
                    <div>
                        <ul class="social-icon ">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" class="youtube"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="flex-center justify-content-between">
                    <!-- Header Logo Start -->
                    <div class="logo ">
                        <a href="index.html">
                            <img class="logo-2" src="{{ site.s3bucket }}bayan-logo-small.png" alt="logoImage" width="209">
                        </a>
                    </div>
                    <!-- Header Logo End -->

                    <div class="flex-center header-right">
                        <!-- Header Menu Start -->
                        <div class="d-none d-lg-flex header-right_menu">
                            <nav class="main-menu">
                                <ul>
                                    <li>
                                        <a href="index.html#plots">أراضي</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="index.html#villas">فلل سكني</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="about.html#investors">المستثمرون</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="board.html#board">مجلس الادارة</a>
                                    </li>
                                    <li><a href="about.html#about">نبذة عنــا</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Menu End -->

                        <!-- Header Actions Start -->
                        <div class="header-right_actions flex-center">
                            <div class="header-right_button header-button ">
                                <a href="index.html#video" class="btn-style-one"><img src="{{ site.s3bucket }}azizia.png" alt="LogoImage" width="80"></a>

                            </div>

                            <div class="hamburger d-block d-lg-none">
                                <!-- Mobile Menu Hambarger Action Button Start -->
                                <a class="header-action-btn header-action-btn-menu hamburger_button d-flex" href="#/" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-header">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <!-- Mobile Menu Hambarger Action Button End -->
                            </div>

                        </div>
                        <!-- Header Social Actions End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="offcanvas offcanvas-end" id="offcanvas-header">

    <div class="offcanvas-header">
        <!-- Header Logo Start -->
        <div class="logo">
            <a href="index.html">
                <img src="{{ site.s3bucket }}bayan-logo-small.png" alt="">
            </a>
        </div>
        <!-- Header Logo End -->
        <button type="button" class="btn-close text-reset mobilemenu-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <!-- mobile menu navigation start -->
        <nav>
            <ul class="mobile-menu">
                <li class="menu-item-has-children">
                    <a href="about.html#about">نبذة عنــا</a>
                </li>
                <li><a href="board.html#board">مجلس الادارة</a></li>
                <li class="menu-item-has-children">
                    <a href="#investors">المستثمرون</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="index.html#villas">فلل سكني</a>
                </li>
                <li class="menu-item-has-children ">
                    <a href="index.html#plots">أراضي</a>
                </li>
                <li><a href="#contact">اتصل بنا </a></li>
                <li><a href="https://maps.app.goo.gl/1k9KLPMc92fRbayE8" target="_blank">موقع المشروع </a></li>
                <li><a href="https://www.google.com/maps/place/Bayan+Realty+Co./@26.1577191,50.0857978,13z/data=!4m15!1m8!3m7!1s0x3e49dc4523d3f80d:0x47fdf33dfe36ead9!2sECDA2899,+2899+9%D8%8C+8175,+Al+Maha,+Al+Khobar+34726,+Saudi+Arabia!3b1!8m2!3d26.195341!4d50.1306452!16s%2Fg%2F11gj70wkqn!3m5!1s0x3e49e857adb90f99:0xafb8358d25d7175a!8m2!3d26.1953998!4d50.1327574!16s%2Fg%2F1pt_3hq3b!5m1!1e4?entry=ttu" target="_blank">المعالم المحيطة </a></li>
                <li><a href="#">الضمانات </a></li>



            </ul>
        </nav>
        <!-- mobile menu navigation end -->
    </div>

</div>


