

    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="js/plugins/magnificpopup.min.js"></script>
    <script src="js/plugins/swiper-bundle.min.js"></script>
    <script src="js/plugins/easypiechart.min.js"></script>
    <script src="js/plugins/tilt.jquery.min.js"></script>
    <script src="js/plugins/odometer.min.js"></script>
    <script src="js/plugins/isotope.min.js"></script>
    <script src="js/plugins/imagesloaded.min.js"></script>
    <script src="js/plugins/waypoint.min.js"></script>
    <script src="js/plugins/wow.min.js"></script>
    <script src="js/plugins/fancybox.min.js"></script>
    <script src="js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="js/plugins/parallax.js"></script>
    <script src="js/plugins/svg-pan-zoom.js"></script>

    <!-- Activation JS -->
    <script src="js/main.js"></script>
    <script src="js/pages/home.js"></script>

</body>

</html>