<div class="row row-cols-lg-1 row-cols-sm-1 row-cols-1 mb-n20 parent-gallery">
    <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
        <!-- Single Project Start -->

            <div class="single-project" style="margin-bottom: 10px; z-index: 10; position: relative;">
                <a class="thumbnail" href="#">
                    <img src="{{ site.s3bucket }}duplex_d_plans.png" alt="ProjectImage">
                </a>
                <div class="content">
                    <span class="subtitle">بيان العزيزية</span>
                    <h3 class="title">
                        <a href="villas.html#duplex_d">Duplex D نموزج دبلكس  </a>
                    </h3>
                </div>
                <div class="lightbox">
                    <!-- <a class="item" href="{{ site.s3bucket }}plan-2.jpg"><i class="fas fa-external-link-alt"></i></a> -->
                </div>
            </div>

        <!-- Single Project End -->
    </div>
</div>

<div id="duplex_d"></div>

<div class="section-padding about-creative" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 row-cols-1 mb-n30">

            <div class="col-lg-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="about-creative-details" style="direction: rtl;">
                    <!-- Heading Start -->
                    <div class="heading-one">
                        <!-- <span class="heading-one-subtitle">Design matters</span> -->
                        <h3 class="heading-one-title">نموزج دبلكس Duplex D</h3>

                            <p class="heading-one-subtitle gradient-text-1-ghamejed">المساحات الخارجية</p>
                            <br/>
                            <ul class="service-details-content-list">
                                <li>
                                    <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                    <p>كراج سيارة بطول 10.6 متر</p>
                                </li>
                                <li>
                                    <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                    <p>مواقف خارجية لسيارتين </p>
                                </li>
                                <li>
                                    <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                    <p>غرفة مع دورة مياه خاصة للسائق  </p>
                                </li>
                            </ul>

                        <p></p>
                    </div>
                    <!-- Heading End -->

                    <!-- About creative Tab Start -->
                    <div class="about-creative-tab d-block d-lg-block d-md-none d-sm-none d-xs-none">
                            <p class="heading-one-subtitle gradient-text-1-ghamejed">المساحات الداخلية</p>
                            <br/><br/>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="duplex-d-nav-ground-tab" data-bs-toggle="tab" data-bs-target="#duplex-d-nav-ground" type="button" role="tab" aria-controls="duplex-d-nav-ground" aria-selected="true">الدور الأرضي</button>
                                <button class="nav-link" id="duplex-d-nav-first-tab" data-bs-toggle="tab" data-bs-target="#duplex-d-nav-first" type="button" role="tab" aria-controls="duplex-d-nav-first" aria-selected="false">الدور الأول</button>
                                <button class="nav-link" id="duplex-d-nav-roof-tab" data-bs-toggle="tab" data-bs-target="#duplex-d-nav-roof" type="button" role="tab" aria-controls="duplex-d-nav-roof" aria-selected="false">الدور الثاني الملحق</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="duplex-d-nav-ground" role="tabpanel" aria-labelledby="duplex-d-nav-ground-tab">
                                <div class="">
                                    <br/>
                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>مدخل خاص للرجال مع دورة مياه ومغسلة مستقلة وغرفة طعام</p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>مدخل آخر خاص بالنساء صالة معيشة للعائلة / للنساء مع دورة مياه </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>مطبخ و مخزن  </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="duplex-d-nav-first" role="tabpanel" aria-labelledby="duplex-d-nav-first-tab" >
                                <div class="">
                                    <br/>
                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم ماستر رئيسية مع دورة مياه و غرفة تبديل وبلكونة</p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم ثانية ماستر مع دورة مياه و بلكونة </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم ثالثة مع دورة مياه  </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>صالة للعائلة مع ركن للقهوة </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="duplex-d-nav-roof" role="tabpanel" aria-labelledby="duplex-d-nav-roof-tab">
                                <div class="">
                                    <br/>

                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة خاصة للخادمة مع دورة مياه </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة غسيل ملابس </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة غسيل ملابس سطح من جهتين يمكن عمل جلسة خارجية </p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- About Creation Tab End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Creative Section End -->







<!-- About Creative Section - Mobile - Start -->
<div class="section-padding about-creative" style="direction: rtl; padding-top: 0px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="about-creative-details">


                <!-- About creative Tab Start -->
                <div class="about-creative-tab d-none d-lg-none d-md-block d-sm-block d-xs-block">
                    <br/><br/>
                    <p class="heading-one-subtitle gradient-text-1-ghamejed">المساحات الداخلية</p>
                    <br/><br/>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="duplex-d-nav-ground-mob-tab" data-bs-toggle="tab" data-bs-target="#duplex-d-nav-ground-mobile" type="button" role="tab" aria-controls="duplex-d-nav-ground-mobile" aria-selected="true">الدور الأرضي</button>
                            <button class="nav-link" id="duplex-d-nav-first-tab" data-bs-toggle="tab" data-bs-target="#duplex-d-nav-first-mobile" type="button" role="tab" aria-controls="duplex-d-nav-first-mobile" aria-selected="false">الدور الأول</button>
                            <button class="nav-link" id="duplex-d-nav-roof-tab" data-bs-toggle="tab" data-bs-target="#duplex-d-nav-roof-mobile" type="button" role="tab" aria-controls="duplex-d-nav-roof-mobile" aria-selected="false">الدور الثاني الملحق</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="duplex-d-nav-ground-mobile" role="tabpanel" aria-labelledby="duplex-d-nav-ground-tab">
                            <div class="">
                                <br/>
                                <ul class="service-details-content-list">
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>مدخل خاص للرجال مع دورة مياه ومغسلة مستقلة وغرفة طعام</p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>مدخل آخر خاص بالنساء صالة معيشة للعائلة / للنساء مع دورة مياه </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>مطبخ و مخزن  </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="duplex-d-nav-first-mobile" role="tabpanel" aria-labelledby="duplex-d-nav-first-tab" >
                            <div class="">
                                <br/>
                                <ul class="service-details-content-list">
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم ماستر رئيسية مع دورة مياه و غرفة تبديل وبلكونة</p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم ثانية ماستر مع دورة مياه و بلكونة </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم ثالثة مع دورة مياه  </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>صالة للعائلة مع ركن للقهوة </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="duplex-d-nav-roof-mobile" role="tabpanel" aria-labelledby="duplex-d-nav-roof-tab">
                                <div class="">
                                    <br/>

                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة خاصة للخادمة مع دورة مياه </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة غسيل ملابس </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة غسيل ملابس سطح من جهتين يمكن عمل جلسة خارجية </p>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- About Creation Tab End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Creative Section - Mobile - End -->
