<div class="row row-cols-lg-1 row-cols-sm-1 row-cols-1 mb-n20 parent-gallery">
    <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
        <!-- Single Project Start -->

            <div class="single-project" style="margin-bottom: 10px; z-index: 10; position: relative;">
                <a class="thumbnail" href="#">
                    <img src="{{ site.s3bucket }}villa_e_plans.png" alt="ProjectImage">
                </a>
                <div class="content">
                    <span class="subtitle">بيان العزيزية</span>
                    <h3 class="title">
                        <a href="villas.html#villa_e">villa E نموزج فيلا </a>
                    </h3>
                </div>
                <div class="lightbox">
                    <!-- <a class="item" href="{{ site.s3bucket }}plan-2.jpg"><i class="fas fa-external-link-alt"></i></a> -->
                </div>
            </div>

        <!-- Single Project End -->
    </div>
</div>

<div id="villa_e"></div>

<div class="section-padding about-creative" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 row-cols-1 mb-n30">

            <div class="col-lg-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="about-creative-details" style="direction: rtl;">
                    <!-- Heading Start -->
                    <div class="heading-one">
                        <!-- <span class="heading-one-subtitle">Design matters</span> -->
                        <h3 class="heading-one-title">نموزج فيلا villa E</h3>

                            <p class="heading-one-subtitle gradient-text-1-ghamejed">المساحات الخارجية</p>
                            <br/>
                            <ul class="service-details-content-list">
                                <li>
                                    <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                    <p>مساحات خارجية كبيرة لعمل حديقة - مسبح خارجي - جلسات خارجية – ملاعب أطفال – ديوانية</p>
                                </li>
                                <li>
                                    <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                    <p>كراج لسيارتين بالداخل ومواقف خارجية للفيلا لخمس سيارات في الامام و أخرى في الخلف </p>
                                </li>
                                <li>
                                    <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                    <p>غرفة سائق/ حارس مع دورة مياه خاصة  </p>
                                </li>
                            </ul>

                        <p></p>
                    </div>
                    <!-- Heading End -->

                    <!-- About creative Tab Start -->
                    <div class="about-creative-tab d-block d-lg-block d-md-none d-sm-none d-xs-none">
                            <p class="heading-one-subtitle gradient-text-1-ghamejed">المساحات الداخلية</p>
                            <br/><br/>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="villa-e-nav-ground-tab" data-bs-toggle="tab" data-bs-target="#villa-e-nav-ground" type="button" role="tab" aria-controls="villa-e-nav-ground" aria-selected="true">الدور الأرضي</button>
                                <button class="nav-link" id="villa-e-first-tab" data-bs-toggle="tab" data-bs-target="#villa-e-first" type="button" role="tab" aria-controls="villa-e-first" aria-selected="false">الدور الأول</button>
                                <button class="nav-link" id="villa-e-nav-roof-tab" data-bs-toggle="tab" data-bs-target="#villa-e-nav-roof" type="button" role="tab" aria-controls="villa-e-nav-roof" aria-selected="false">الدور الثاني الملحق</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="villa-e-nav-ground" role="tabpanel" aria-labelledby="villa-e-nav-ground-tab">
                                <div class="">
                                    <br/>
                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>مدخل خاص للرجال مجلس للرجال مع دورة مياه و مغسلة مستقلة وغرفة طعام للرجال.</p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>مدخل خاص للنساء مجلس للنساء / للعائلة دورة مياه ومغسلة مستقلة وغرفة طعام للنساء أو تحويلها لمطبخ مفتوح على الصالة </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>مدخل خاص للخدمات ومطبخ داخلي ومخزن  </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="villa-e-first" role="tabpanel" aria-labelledby="villa-e-first-tab" >
                                <div class="">
                                    <br/>
                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم ماستر رئيسية مع دورة مياه و غرفة تبديل و بلكونة مشتركة مع الغرفة الرئيسية الأخرى</p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم ماستر ثانية مع دورة مياه وغرفة تبديل ملابس وبلكونة مشتركة </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم ثالثة مع دورة مياه و بلكونه مستقلة  </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة نوم رابعة مع دورة مياه  </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>صالة عائلية </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="villa-e-nav-roof" role="tabpanel" aria-labelledby="villa-e-nav-roof-tab">
                                <div class="">
                                    <br/>

                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة خاصة للخادمة مع دورة مياه </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة غسيل ملابس </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>سطح كبير </p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- About Creation Tab End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Creative Section End -->



<!-- About Creative Section - Mobile - Start -->
<div class="section-padding about-creative" style="direction: rtl; padding-top: 0px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="about-creative-details">


                <!-- About creative Tab Start -->
                <div class="about-creative-tab d-none d-lg-none d-md-block d-sm-block d-xs-block">
                    <br/><br/>
                    <p class="heading-one-subtitle gradient-text-1-ghamejed">المساحات الداخلية</p>
                    <br/><br/>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="villa-e-nav-ground-mob-tab" data-bs-toggle="tab" data-bs-target="#villa-e-nav-ground-mobile" type="button" role="tab" aria-controls="villa-e-nav-ground-mobile" aria-selected="true">الدور الأرضي</button>
                            <button class="nav-link" id="villa-e-first-tab" data-bs-toggle="tab" data-bs-target="#villa-e-first-mobile" type="button" role="tab" aria-controls="villa-e-first-mobile" aria-selected="false">الدور الأول</button>
                            <button class="nav-link" id="villa-e-nav-roof-tab" data-bs-toggle="tab" data-bs-target="#villa-e-nav-roof-mobile" type="button" role="tab" aria-controls="villa-e-nav-roof-mobile" aria-selected="false">الدور الثاني الملحق</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="villa-e-nav-ground-mobile" role="tabpanel" aria-labelledby="villa-e-nav-ground-tab">
                            <div class="">
                                <br/>
                                <ul class="service-details-content-list">
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>مدخل خاص للرجال مجلس للرجال مع دورة مياه و مغسلة مستقلة وغرفة طعام للرجال.</p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>مدخل خاص للنساء مجلس للنساء / للعائلة دورة مياه ومغسلة مستقلة وغرفة طعام للنساء أو تحويلها لمطبخ مفتوح على الصالة </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>مدخل خاص للخدمات ومطبخ داخلي ومخزن  </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="villa-e-first-mobile" role="tabpanel" aria-labelledby="villa-e-first-tab" >
                            <div class="">
                                <br/>
                                <ul class="service-details-content-list">
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم ماستر رئيسية مع دورة مياه و غرفة تبديل و بلكونة مشتركة مع الغرفة الرئيسية الأخرى</p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم ماستر ثانية مع دورة مياه وغرفة تبديل ملابس وبلكونة مشتركة </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم ثالثة مع دورة مياه و بلكونه مستقلة  </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>غرفة نوم رابعة مع دورة مياه  </p>
                                    </li>
                                    <li>
                                        <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                        <p>صالة عائلية </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="villa-e-nav-roof-mobile" role="tabpanel" aria-labelledby="villa-e-nav-roof-tab">
                                <div class="">
                                    <br/>

                                    <ul class="service-details-content-list">
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة خاصة للخادمة مع دورة مياه </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>غرفة غسيل ملابس </p>
                                        </li>
                                        <li>
                                            <img src="{{ site.s3bucket }}icon/checked.png" alt="CheckIcon">
                                            <p>سطح كبير </p>
                                        </li>
                                    </ul>

                                </div>
                        </div>
                    </div>
                </div>
                <!-- About Creation Tab End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Creative Section - Mobile - End -->
