
<!-- Investors Section Start -->
<div class="section-padding blog-grid" id="investors">
    <div class="container" style="margin-bottom: 40px; direction: rtl;" >
        <div class="row">
            <div class="col-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <!-- Heading Start -->
                <div class="heading-one">
                    <span class="heading-one-subtitle gradient-text-1-ghamejed">المستثمرون</span>
                </div>
                <!-- Heading End -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-lg-6 row-cols-md-3 row-cols-sm-2 row-cols-2 grid parent-gallery">
            <div class="col mb-30 grid-item design wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                <!-- Single Project Start -->
                <div class="single-project" style="direction: rtl;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}partners/altijaria.jpg" alt="ProjectImage">
                    </a>
                    <div class="content" style="right: 0;">
                        <span class="subtitle">المستثمرون</span>
                        <h3 class="title">
                            <a href="https://www.altijaria.com/our-investment/1" target="_blank">الشركة التجارية العقارية، ش.م.ك.ع</a> 
                        </h3>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>
            <div class="col mb-30 grid-item development wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                <!-- Single Project Start -->
                <div class="single-project" style="direction: rtl;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}partners/vcb.jpg" alt="ProjectImage">
                    </a>
                    <div class="content" style="right: 0;">
                        <span class="subtitle">المستثمرون</span>
                        <h3 class="title">
                            <a href="https://www.vc-bank.com/ar/investment-portfolio/bayan-real-estate-development-company"  target="_blank">VENTURE ESTATES HOLDING</a>
                        </h3>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>
            <div class="col mb-30 grid-item news wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                <!-- Single Project Start -->
                <div class="single-project" style="direction: rtl;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}partners/rsa-1.jpg" alt="ProjectImage">
                    </a>
                    <div class="content" style="right: 0;">
                        <span class="subtitle">المستثمرون</span>
                        <h3 class="title">
                            <a href="https://www.linkedin.com/company/alrashidsons/about/"  target="_blank">شركة راشد سعد الراشد و أولادة المحدودة</a>
                        </h3>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>
            <div class="col mb-30 grid-item development wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                <!-- Single Project Start -->
                <div class="single-project" style="direction: rtl;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}partners/almojal.jpg" alt="ProjectImage">
                    </a>
                    <div class="content" style="right: 0;">
                        <span class="subtitle">المستثمرون</span>
                        <h3 class="title">
                            <a href="https://www.almojelco.com/ar" target="_blank">شركة المعجل للتجارة والمقاولات</a> 
                        </h3>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>
            <div class="col mb-30 grid-item design wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                <!-- Single Project Start -->
                <div class="single-project" style="direction: rtl;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}partners/dimah.jpg" alt="ProjectImage">
                    </a>
                    <div class="content" style="right: 0;">
                        <span class="subtitle">المستثمرون</span>
                        <h3 class="title">
                            <a href="https://dimah.com.kw/ar" target="_blank">ديمه كابيتال</a> 
                        </h3>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>
            <div class="col mb-30 grid-item tutorials wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                <!-- Single Project Start -->
                <div class="single-project" style="direction: rtl;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}partners/alothman.jpg" alt="ProjectImage">
                    </a>
                    <div class="content" style="right: 0;">
                        <span class="subtitle">المستثمرون</span>
                        <h3 class="title">
                            <a href="https://www.al-othman.com/ar/"  target="_blank">شركة العثمان القابضة</a>
                        </h3>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>

        </div>

    </div>
</div>
<!-- Investors Section End -->


