<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="row">

        <div class="col-12 col-lg-4 mx-auto text-center align-self-center order-lg-0 order-1">
            <!-- Heading Start -->
            <div class="heading-one">
                <span class="heading-one-subtitle gradient-text-1-ghamejed">شركة سعودية مساهمة مقفلة لتطوير عقاري</span>
                <h2 class="heading-one-title">بيان العقارية</h2>
                <p>تأسست من قبل نخبة من المستثمرين وشركات الأعمال الرائدة في المملكة العربية test</p> 
                <br/>
                <a href="about.html#about" class="btn-style-one"><span>نبذة عن الشركة</span></a>
            </div>
            <!-- Heading End -->
        </div>

    </div>
</div>  
