
<!-- Breadcrumb Section Start -->
<div class="breadcrumb-three" data-bg-image="{{ site.s3bucket }}plan-2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <!-- Breadcrumb Wrapper Start -->
                <div class="breadcrumb-three-wrapper">
                    <h1 class="title">مشروع بيان العزيزية  </h1>
                    <ul class="breadcrumb-three-meta">
                        <li>
                            <a href="https://maps.app.goo.gl/1k9KLPMc92fRbayE8" target="_blank">المخططات</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/place/Bayan+Realty+Co./@26.1577191,50.0857978,13z/data=!4m15!1m8!3m7!1s0x3e49dc4523d3f80d:0x47fdf33dfe36ead9!2sECDA2899,+2899+9%D8%8C+8175,+Al+Maha,+Al+Khobar+34726,+Saudi+Arabia!3b1!8m2!3d26.195341!4d50.1306452!16s%2Fg%2F11gj70wkqn!3m5!1s0x3e49e857adb90f99:0xafb8358d25d7175a!8m2!3d26.1953998!4d50.1327574!16s%2Fg%2F1pt_3hq3b!5m1!1e4?entry=ttu" target="_blank">لمعالم المحيطة</a>
                        </li>
                        <li>
                            <a href="site.html">موقع المشروع</a>
                        </li>
                    </ul>
                </div>
                <!-- Breadcrumb Wrapper End -->
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

