<!-- Plots Descriptions Section Start -->
<div class="section-padding strategy-two" style="direction: rtl;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- System Content Start -->
                <div class="heading-one wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                    <span class="heading-one-subtitle gradient-text-1-ghamejed">المخطط تتكون من</span>
                    <h2 class="heading-one-title">سبع مناطق</h2>
                    <p>يتكون المخطط من ست مناطق سكنية ومنطقة تجارية، مصمم بعناية ليوفر بيئة حديثة تجمع بين الراحة والحيوية. يشمل المشروع مساحات خضراء واسعة وحدائق داخلية تضفي إحساسًا بالتوازن والهدوء، مع بنية تحتية متكاملة تشمل الربط بشبكة الصرف الصحي العامة لضمان الاستدامة. كما يوفر مرافق تعليمية وصحية ومساجد موزعة بعناية لتلبية جميع احتياجات السكان. المشروع جاهز الآن للعملاء لاختيار قطع الأراضي المفضلة لديهم والبدء بعملية الشراء، ما يتيح لهم تجربة سكنية متكاملة تجمع بين الرفاهية والعملية.</p>
                </div>
                <!-- System Content End -->
            </div>
            <div class="col-lg-6">
                <div class="strategy-two-inner">
                    <!-- Strategy Two Single Start -->
                    <div class="strategy-two-single wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                        <div class="strategy-two-icon">
                            <img src="assets/images/icon/icon-6.png" alt="Icon">
                        </div>

                        <div class="strategy-two-content">
                            <h4 class="title">السكني و التجاري</h4>
                            <ul class="service-details-content-list">
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>52.4% من مساحة الخطط</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>أراضي تجارية تقع على طول 476 متر مواز لشارع عرض 60 متر.</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>أراضي تجارية متعددة الأدوار</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>أراضي سكنية على مساحات تبدأ من 250 إلى 1350 متر مربع </p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>أراضي سكنية على رأس البلك بمساحات اقل من 1000 متر مربع </p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>أراضي سكنية على 3 شوارع أو شارعين متظاهرين بمساحات اقل من 1000 متر مربع </p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>أراضي سكنية مقابل دوار بمسطحات خضراء </p>
                            </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Strategy Two Single End -->
                    <!-- Strategy Two Single Start -->
                    <div class="strategy-two-single wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <div class="strategy-two-icon">
                            <img src="assets/images/icon/icon-7.png" alt="Icon">
                        </div>


                        <div class="strategy-two-content">
                            <h4 class="title">الطرق والمسطحات الخضراء</h4>


                            <ul class="service-details-content-list">
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>41.2% من مساحة الخطط</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>حديقة عامة للمخطط</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>حدائق ومسطحات خضراء داخل كل منطقة. </p>
                            </li>
                            </ul>
                            <p>

                        </div>
                    </div>
                    <!-- Strategy Two Single End -->
                    <!-- Strategy Two Single Start -->
                    <div class="strategy-two-single wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">

                        <div class="strategy-two-icon">
                            <img src="assets/images/icon/icon-8.png" alt="Icon">
                        </div>
                        <div class="strategy-two-content">
                            <h4 class="title">المساجد والمدارس والمركز الصحي </h4>
                            <ul class="service-details-content-list">
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>6.40% من مساحة الخطط</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>5 مساجد لكل منطقة مسجد  </p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>مسجد جامع كبير يخدم كامل المخطط </p>
                            </li>
                            <li>
                                <img src="assets/images/icon/checked.png" alt="CheckIcon">
                                <p>مجمع تعليمي مدارس بنين وبنات وروضة أطفال</p>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Strategy Two Single End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Plots Descriptions Section End -->

