<!-- Plan Section Start -->
<div class=" footer-two-bg">
    <div class="container" style="margin-bottom: 40px; z-index: 10; position: relative; direction: rtl;" id="plots">
        <div class="row">
            <div class="col-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <!-- Heading Start -->
                <div class="heading-one">
                    <span class="heading-one-subtitle gradient-text-1-ghamejed">اراضي للبيع بمنقة ٤ من مشروع بيان العزيزية</span>
                </div>
                <!-- Heading End -->
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row row-cols-lg-1 row-cols-sm-1 row-cols-1 mb-n20 parent-gallery">
            <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                <!-- Single Project Start -->
                <div class="single-project" style="margin-bottom: 40px; z-index: 10; position: relative;">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}plan-2.jpg" alt="ProjectImage">
                    </a>
                    <div class="content">
                        <span class="subtitle">مشروع</span>
                        <h3 class="title">
                            <a href="project-details.html">بيان العزيزية</a>
                        </h3>
                    </div>
                    <div class="lightbox">
                        <a class="item" href="{{ site.s3bucket }}plan-2.jpg"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <!-- Single Project End -->
            </div>
        </div>
    </div>
</div>
<!-- Plan Section End -->
