<div id="site_render"></div>
<div class="container">
    <div class="row row-cols-lg-1 row-cols-sm-1 row-cols-1 mb-n20 parent-gallery">
        <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
            <!-- Single Project Start -->

                <div class="single-project" style="margin-bottom: 40px; z-index: 10; position: relative;">
                    <a class="thumbnail" href="site.html">
                        <img src="{{ site.s3bucket }}plan-2.jpg" alt="ProjectImage">
                    </a>
                    <div class="content">
                        <span class="subtitle">مشروع</span>
                        <h3 class="title">
                            <a href="site.html">بيان العزيزية</a>
                        </h3>
                    </div>
                    <div class="lightbox">
                        <!-- <a class="item" href="{{ site.s3bucket }}plan-2.jpg"><i class="fas fa-external-link-alt"></i></a> -->
                    </div>
                </div>

            <!-- Single Project End -->
        </div>
    </div>
</div>