<div class=" section-padding-top strategy overflow-hidden ">
    <div class="container">
        <div class="row" style="z-index: 12; position: relative;">
            <div class="col-12 wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.1s">
                <!-- Heading Start -->
                <div class="heading-one text-center">
                    <span class="heading-one-subtitle gradient-text-1-ghamejed" style="letter-spacing: 2px;">موقع المشروع عبارة عن امتداد لمدينة الخبر وتعتبر منطقة سكنية جديدة وتجارية التطوير مستمر في منطقة العزيزية للبنية التحتية من أجل استيعاب الطلب المتزايد على حلول الإسكان (بأسعار معقولة) وكانعكاس للزيادة في عدد السكان في مدينة الخبر</span>
                    <h2 class="heading-one-title">يمكن اعتبار العزيزية <br/>الخبر الجديدة</h2>
                </div>
                <!-- Heading End -->
            </div>
        </div>
    </div>
</div>