
<!-- Work Two Section Start -->
<div class="work-two section-padding-top">

    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <div class="work-carousel-wrapper">
                    <div class="swiper work-carousel parent-gallery">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2316_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2316.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2241_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2241.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2216_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2216.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2209_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2209.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2109_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2109.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2096_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2096.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2043_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2043.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_2015_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_2015.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_1953_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_1953.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_1936_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_1936.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="single-work-carousel">
                                    <a class="thumbnail" href="project-details.html">
                                        <img src="{{ site.s3bucket }}villas/IMG_1896_tmb.jpg" alt="">
                                    </a>
                                    <div class="content">
<!--                                             <span class="subtitle">Web Design</span>
                                        <h3 class="title">
                                            <a href="project-details.html">When the musics over turn off the light</a>
                                        </h3> -->
                                    </div>
                                    <div class="lightbox">
                                        <a class="item" href="{{ site.s3bucket }}villas/IMG_1896.jpg"><i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--== Add Swiper navigation Buttons ==-->
                        <div class="work-swiper-arrow swiper-arrow-long">
                            <div class="swiper-btn swiper-btn-prev testimonial-slider-button-prev prev-button">
                                <img class="next-arrow-1 arrow-1" src="{{ site.s3bucket }}slider/arrow-1.png" alt="">
                                <img class="next-arrow-2 arrow-2" src="{{ site.s3bucket }}slider/arrow-2.png" alt="">
                            </div>
                            <div class="swiper-btn swiper-btn-next testimonial-slider-button-next next-button">
                                <img class="prev-arrow-1 arrow-1" src="{{ site.s3bucket }}slider/arrow-1.png" alt="">
                                <img class="prev-arrow-2 arrow-2" src="{{ site.s3bucket }}slider/arrow-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Work Two Section End -->
