<!-- Strategy and YouTube Video Section start -->
<div class="section-padding-top strategy overflow-hidden" id="video">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.1s">
        <!-- Heading Start -->
        <div class="heading-one text-center">
          <span class="heading-one-subtitle gradient-text-1-ghamejed" style="letter-spacing: 2px;">
            يقع مشروع بيان العزيزية بحي المها في مدينة الخبر <br> حيث تبلغ المساحة الإجمالية للمشروع
          </span>
          <h2 class="heading-one-title">٦٢١ الف متر مربع</h2>
        </div>
        <!-- Heading End -->
      </div>
    </div>

        <video
          id="my-video"
          class="video-js video-responsive-video"
          controls
          preload="auto"
          poster="{{ site.s3bucket }}video.jpg"
          data-setup="{}"
        >
          <source src="{{ site.s3bucket }}bayan.mp4" type="video/mp4" />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">
              supports HTML5 video
            </a>.
          </p>
        </video>


        <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
      </div>
    </div>
  </div>

  <div class="strategy-home2-shape" data-depth="0.09">
    <div class="shape shape-1"><img src="{{ site.s3bucket }}shape/dot-1.png" alt="Shape"></div>
    <div class="shape shape-2"><img src="{{ site.s3bucket }}shape/shape-21.png" alt="Shape"></div>
  </div>
</div>
<!-- Strategy and YouTube Video Section end -->