<!-- More Project Section Start -->
<div class="more-project" style="z-index: 12; position: relative;">


<div class="container" style="margin-bottom: 40px; direction: rtl;" >
    <div class="row">
        <div class="col-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
            <!-- Heading Start -->
            <div class="heading-one">
                <span class="heading-one-subtitle gradient-text-1-ghamejed"> الفرق في مساحات اراضي الفلل </span>
            </div>
            <!-- Heading End -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-lg-1 row-cols-sm-1 row-cols-1 mb-n20 parent-gallery">
        <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
            <!-- Single Project Start -->

                <div class="single-project" style="margin-bottom: 40px; z-index: 10; position: relative;">
                    <a class="thumbnail" href="site.html">
                        <img src="{{ site.s3bucket }}villas_compared.png" alt="ProjectImage">
                    </a>
                    <div class="content">
                        <span class="subtitle">سكن نموزجي بمنطقة ١</span>
                        <h3 class="title">
                            <a href="site.html">الفرق في مساحات اراضي الفلل</a>
                        </h3>
                    </div>
                    <div class="lightbox">
                        <a class="item" href="{{ site.s3bucket }}villas_compared.png"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>

            <!-- Single Project End -->
        </div>
    </div>
</div>

</div>