
<div id="villas" style="padding-top: 60px"></div>


<!-- More Project Section Start -->
<div class="more-project" style="z-index: 12; position: relative;">

    <div class="container" style="margin-bottom: 40px; direction: rtl;" >
        <div class="row">
            <div class="col-12 wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <!-- Heading Start -->
                <div class="heading-one">
                    <span class="heading-one-subtitle gradient-text-1-ghamejed">سكن نموزجي بمنطقة ١ من مشروع بيان العزيزية</span>
                </div>
                <!-- Heading End -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-lg-3 row-cols-sm-1 row-cols-1 mb-n20 parent-gallery">


            <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".2s">
                <!-- Single Project Start -->
                <div class="single-project">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}villa-e.jpg" alt="ProjectImage">
                    </a>
                    <div class="content">
                        <span class="subtitle">المساحة 768 متر</span>
                        <h3 class="title">
                            <a href="project-details.html">Villa E نموزج فيلا </a>
                        </h3>
                    </div>
                    <div class="lightbox">
                        <a class="item" href="{{ site.s3bucket }}villa-e.jpg"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>

                <!-- Single Project End -->
            </div>


            <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".3s">
                <!-- Single Project Start -->


                <div class="single-project">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}duplex-b.jpg" alt="ProjectImage">
                    </a>
                    <div class="content">
                        <span class="subtitle"> المساحة 348 متر</span>
                        <h3 class="title">
                            <a href="project-details.html">DUBLEX B نموزج دبلكس</a>
                        </h3>
                    </div>
                    <div class="lightbox">
                        <a class="item" href="{{ site.s3bucket }}duplex-b.jpg"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>

                <!-- Single Project End -->
            </div>
            
            <div class="col mb-20 wow fadeIn" data-wow-duration="1.2s" data-wow-delay=".1s">
                <!-- Single Project Start -->
                <div class="single-project">
                    <a class="thumbnail" href="project-details.html">
                        <img src="{{ site.s3bucket }}duplex-d.jpg" alt="ProjectImage">
                    </a>
                    <div class="content">
                        <span class="subtitle">المساحة 252 متر</span>
                        <h3 class="title">
                            <a href="project-details.html">DUBLEX D نموزج دبلكس</a>
                        </h3>
                    </div>
                    <div class="lightbox">
                        <a class="item" href="{{ site.s3bucket }}duplex-d.jpg"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>



                <!-- Single Project End -->
            </div>

        </div>
    </div>
</div>
<!-- More Project Section End -->
