
<!-- Slider Section start -->
<div class="slider-two overflow-hidden">
    <div class="swiper slidertwo animation-style-02">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="slidertwo-shape1">
                    <div class="scene">
                        <div class="shape shape-7"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-1.png" alt="Shape"></div>
                        <div class="shape shape-9"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-3.png" alt="Shape"></div>
                        <div class="shape shape-10" data-depth="0.07"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-4.png" alt="Shape"></div>
                        <div class="shape shape-11" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-5.png" alt="Shape"></div>
                        <div class="shape shape-12" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-6.png" alt="Shape"></div>
                        <div class="shape shape-14"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-8.png" alt="Shape"></div>
                        <div class="shape shape-15" data-depth="0.07"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-9.png" alt="Shape"></div>
                        <div class="shape shape-16"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-10.png" alt="Shape"></div>
                        <div class="shape shape-17"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-11.png" alt="Shape"></div>
                        <div class="shape shape-18" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-12.png" alt="Shape"></div>
                        <div class="shape shape-19"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-13.png" alt="Shape"></div>
                        <div class="shape shape-20"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-14.png" alt="Shape"></div>
                        <div class="shape shape-21" data-depth="0.06"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-15.png" alt="Shape"></div>
                    </div>
                </div>
                <div class="slidertwo-shape2">
                    <div class="shape shape-6"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-2.png" alt="Shape"></div>
                    <div class="shape shape-8"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-17.png" alt="Shape"></div>
                    <div class="shape shape-13"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-7.png" alt="Shape"></div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-lg-4 order-lg-0 order-2">
                            <div class="slidertwo-leftimg">
                                <div class="img-one"><img class="slider-2-1" src="{{ site.s3bucket }}slider/slider-2-1.png" alt="ShapeImage"></div>
                                <!-- <div class="img-two"><img class="slider-2-3" src="{{ site.s3bucket }}slider/slider-2-3.png" alt="ShapeImage"></div> -->
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mx-auto text-center align-self-center order-lg-0 order-1">
                            <!-- Heading Start -->
                            <div class="heading-one" style="">
                                <span class="heading-one-subtitle gradient-text-1-ghamejed">المساحة 768 متر</span>
                                <h2 class="heading-one-title">Villa E نموزج فيلا  </h2>
                                <p>الأرض تقع على شارعين متظاهرين عرض 30 متر و 20 متر</p>
                                <a href="#statement" class="btn-style-one"><span>بيانات النموزج</span></a>
                            </div>
                            <!-- Heading End -->
                        </div>
                        <div class="col-6 col-lg-4 order-lg-0 order-2">
                            <div class="slidertwo-rightimg">
                                <div class="img-one"><img class="slider-2-2" src="{{ site.s3bucket }}slider/slider-2-2.png" alt="ShapeImage"></div>
                                <!-- <div class="img-two"><img class="slider-2-4" src="{{ site.s3bucket }}slider/slider-2-4.jpg" alt="ShapeImage"></div> -->
                                <!-- <div class="img-three"><img class="slider-2-5" src="{{ site.s3bucket }}slider/slider-2-5.jpg" alt="ShapeImage"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="slidertwo-shape1">
                    <div class="scene">
                        <div class="shape shape-7"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-1.png" alt="Shape"></div>
                        <div class="shape shape-9"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-3.png" alt="Shape"></div>
                        <div class="shape shape-10" data-depth="0.07"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-4.png" alt="Shape"></div>
                        <div class="shape shape-11" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-5.png" alt="Shape"></div>
                        <div class="shape shape-12" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-6.png" alt="Shape"></div>
                        <div class="shape shape-14"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-8.png" alt="Shape"></div>
                        <div class="shape shape-15" data-depth="0.07"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-9.png" alt="Shape"></div>
                        <div class="shape shape-16"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-10.png" alt="Shape"></div>
                        <div class="shape shape-17"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-11.png" alt="Shape"></div>
                        <div class="shape shape-18" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-12.png" alt="Shape"></div>
                        <div class="shape shape-19"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-13.png" alt="Shape"></div>
                        <div class="shape shape-20"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-14.png" alt="Shape"></div>
                        <div class="shape shape-21" data-depth="0.06"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-15.png" alt="Shape"></div>
                    </div>
                </div>
                <div class="slidertwo-shape2">
                    <div class="shape shape-6"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-2.png" alt="Shape"></div>
                    <div class="shape shape-8"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-17.png" alt="Shape"></div>
                    <div class="shape shape-13"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-7.png" alt="Shape"></div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-lg-4 order-lg-0 order-2">
                            <div class="slidertwo-leftimg">
                                <div class="img-one"><img class="slider-2-1" src="{{ site.s3bucket }}slider/slider-2-1.png" alt="ShapeImage"></div>
                                <!-- <div class="img-two"><img class="slider-2-3" src="{{ site.s3bucket }}slider/slider-2-3.png" alt="ShapeImage"></div> -->
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mx-auto text-center align-self-center order-lg-0 order-1">
                            <!-- Heading Start -->
                            <div class="heading-one" style="">
                                <span class="heading-one-subtitle gradient-text-1-ghamejed">المساحة 348 متر</span>
                                <h2 class="heading-one-title">DUBLEX B نموزج دبلكس </h2>
                                <p>الأرض تقع على شارع عرض 20 متر</p>
                                <a href="#statement" class="btn-style-one"><span>بيانات النموزج</span></a>
                            </div>
                            <!-- Heading End -->
                        </div>
                        <div class="col-6 col-lg-4 order-lg-0 order-2">
                            <div class="slidertwo-rightimg">
                                <div class="img-one"><img class="slider-2-2" src="{{ site.s3bucket }}slider/slider-2-2.png" alt="ShapeImage"></div>
                                <!-- <div class="img-two"><img class="slider-2-4" src="{{ site.s3bucket }}slider/slider-2-4.jpg" alt="ShapeImage"></div> -->
                                <!-- <div class="img-three"><img class="slider-2-5" src="{{ site.s3bucket }}slider/slider-2-5.jpg" alt="ShapeImage"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="slidertwo-shape1">
                    <div class="scene">
                        <div class="shape shape-7"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-1.png" alt="Shape"></div>
                        <div class="shape shape-9"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-3.png" alt="Shape"></div>
                        <div class="shape shape-10" data-depth="0.07"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-4.png" alt="Shape"></div>
                        <div class="shape shape-11" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-5.png" alt="Shape"></div>
                        <div class="shape shape-12" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-6.png" alt="Shape"></div>
                        <div class="shape shape-14"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-8.png" alt="Shape"></div>
                        <div class="shape shape-15" data-depth="0.07"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-9.png" alt="Shape"></div>
                        <div class="shape shape-16"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-10.png" alt="Shape"></div>
                        <div class="shape shape-17"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-11.png" alt="Shape"></div>
                        <div class="shape shape-18" data-depth="0.08"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-12.png" alt="Shape"></div>
                        <div class="shape shape-19"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-13.png" alt="Shape"></div>
                        <div class="shape shape-20"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-14.png" alt="Shape"></div>
                        <div class="shape shape-21" data-depth="0.06"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-15.png" alt="Shape"></div>
                    </div>
                </div>
                <div class="slidertwo-shape2">
                    <div class="shape shape-6"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-2.png" alt="Shape"></div>
                    <div class="shape shape-8"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-17.png" alt="Shape"></div>
                    <div class="shape shape-13"><img src="{{ site.s3bucket }}slider/slidertwo-shape/shape-7.png" alt="Shape"></div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-lg-4 order-lg-0 order-2">
                            <div class="slidertwo-leftimg">
                                <div class="img-one"><img class="slider-2-1" src="{{ site.s3bucket }}slider/slider-2-1.png" alt="ShapeImage"></div>
                                <!-- <div class="img-two"><img class="slider-2-3" src="{{ site.s3bucket }}slider/slider-2-3.png" alt="ShapeImage"></div> -->
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mx-auto text-center align-self-center order-lg-0 order-1">
                            <!-- Heading Start -->
                            <div class="heading-one" style="">
                                <span class="heading-one-subtitle gradient-text-1-ghamejed">المساحة 252 متر</span>
                                <h2 class="heading-one-title">DUBLEX D نموزج دبلكس</h2>
                                <p>الأرض تقع على شارع عرض 20 متر</p>
                                <a href="#statement" class="btn-style-one"><span>بيانات النموزج</span></a>
                            </div>
                            <!-- Heading End -->
                        </div>
                        <div class="col-6 col-lg-4 order-lg-0 order-2">
                            <div class="slidertwo-rightimg">
                                <div class="img-one"><img class="slider-2-2" src="{{ site.s3bucket }}slider/slider-2-2.png" alt="ShapeImage"></div>
                                <!-- <div class="img-two"><img class="slider-2-4" src="{{ site.s3bucket }}slider/slider-2-4.jpg" alt="ShapeImage"></div> -->
                                <!-- <div class="img-three"><img class="slider-2-5" src="{{ site.s3bucket }}slider/slider-2-5.jpg" alt="ShapeImage"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination slidertwo-pagination"></div>

    </div>
</div>
<!-- Slider Section End -->